<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * /* * * -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<h1 style="text-align:center">
  Bienvenido a {{title}} {{name}} {{algo()}}
</h1>
<div>
<div class="container my-4">

  <div class="calculator card">

    <input type="text" class="calculator-screen z-depth-1" value="{{pantallaCalculadoraOperacion}}" disabled />
      <input type="text" class="calculator-screen z-depth-1" value="{{pantallaCalculadoraResultado}}" disabled />

      <div class="calculator-keys">

        <button type="button" (click)="operadores('+')" class="operator btn btn-info" value="+">+</button>
        <button type="button" (click)="operadores('-')" class="operator btn btn-info" value="-">-</button>
        <button type="button" (click)="operadores('*')" class="operator btn btn-info" value="*">&times;</button>
        <button type="button" (click)="operadores('/')" class="operator btn btn-info" value="/">&divide;</button>

        <button type="button" (click)="botonesNumeros(7)" value="7" class="btn btn-light waves-effect">7</button>
        <button type="button" (click)="botonesNumeros(8)" value="8" class="btn btn-light waves-effect">8</button>
        <button type="button" (click)="botonesNumeros(9)" value="9" class="btn btn-light waves-effect">9</button>


        <button type="button" (click)="botonesNumeros(4)"  value="4" class="btn btn-light waves-effect">4</button>
        <button type="button" (click)="botonesNumeros(5)"  value="5" class="btn btn-light waves-effect">5</button>
        <button type="button" (click)="botonesNumeros(6)"  value="6" class="btn btn-light waves-effect">6</button>


        <button type="button" (click)="botonesNumeros(1)"  value="1" class="btn btn-light waves-effect">1</button>
        <button type="button" (click)="botonesNumeros(2)" value="2" class="btn btn-light waves-effect">2</button>
        <button type="button" (click)="botonesNumeros(3)" value="3" class="btn btn-light waves-effect">3</button>


        <button type="button" (click)="botonesNumeros(0)" value="0" class="btn btn-light waves-effect">0</button>
        <button type="button" (click)="coma()" class="decimal function btn btn-secondary" value=".">.</button>
        <button type="button" (click)="resetBtn()"  class="all-clear function btn btn-danger btn-sm" value="all-clear">AC</button>

        <button type="button" (click)="resultado()" class="equal-sign operator btn btn-default" value="=">=</button>
      </div>
    </div>
  </div>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */ * * * * -->

<router-outlet></router-outlet>
